@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #745E4D;
}
button:hover{
    cursor: pointer;
}
body{
    padding: 50px;
    background: #F1F1F9;
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    background-color: #F9AA62;
    height:75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7f7f7;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    padding: 0 35px;
    border-right: 1px solid #fff;
    transition: all .5s ease-in-out;
	color: #ffffff;
}
nav ul li a:hover{
    color: #745E4D;
}
nav ul li:last-child a{
    border-right: none;
}
.logo img{
    width:75px;
    height: 67px;
    margin: 5px 0 0 3px;
}
#hero{
    flex:1;
    display: flex;
}

#hero-text p{
	flex:1;
    color: #745E4D;
	margin: 10px 0px 0px -75px;
}

h1{

    font-weight: 700;
    font-size: 2.3em;
    color:#745E4D;
	font-family: Quintessential, sans-serif;
}

#hero p{
	font-family: Oswald;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: justify;
    line-height: 1.6;
}

#treatments{
	display: flex;
	justify-content:space-between;
	margin: 30px 0px;
    
}
.treat-card {
	
	border-color: #745E4D;
	margin:0 3%;
}
.treat-card h2{
    font-weight: 500;
    font-size: 1.4em;
    color:#745E4D;
	font-family: Oswald, sans-serif;
}
.treat-card{
	flex:1;
	text-align: center;
}
.treat-card img{
	margin: 10px 0;
	height:200px;
}

.treat-card p{
	margin: 10px 0;
}


#treatments-h2{
    font-weight: 500;
    font-size: 1.8em;
    color:#745E4D;
	font-family: Oswald, sans-serif;
}

#treatments div {
	
	border-color: #745E4D;
	border: 1px solid;
	
}
#about-h2{
    font-weight: 500;
    font-size: 1.8em;
    color:#745E4D;
	font-family: Oswald, sans-serif;
	
}

#about-content{
	display: flex;
}
#about-content p{
	flex: 60%;
	color:#745E4D;
	margin: 0 20px 0 0 ;
	font-family: Oswald;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: justify;
    line-height: 1.6;
}

#about-content img{	
	flex: 30%;
}

#testimonials{
	display: flex;
	justify-content: center;
	margin: 30px 0px;
    
}

#testimonials-h2{
    font-weight: 500;
    font-size: 1.8em;
    color:#745E4D;
	font-family: Oswald, sans-serif;
}

#testimonials div {
	
	border-color: #745E4D;
	border: 1px solid;
	
}
.testi-card{
	height: 150px;
	flex:1;
	text-align: center;
	margin:0 3%;
}

.testi-card img{
	margin: 10px;
	height:75px;
}
#contact {
	background: #F9AA62;
}
#contact-h2{
    font-weight: 500;
    font-size: 1.8em;
    color:#745E4D;
	font-family: Oswald, sans-serif;
}

footer{
	display:flex;
	justify-content: center;
	margin:auto;
	width:30%;

	
}
footer .logo{
	height:30px;
	align-items: center;
	margin: 0 20px;
	
}